{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block body_block %}
    <h1>Add a Page</h1>
    <div>
        <form id="page_form" method="post" action="{% url 'add_page' category.slug %}">
            {% csrf_token %}
{#            {{ form.as_p }}#}
            {% for field in form %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}<br />
            {% endfor %}
            <input type="submit" name="submit" value="Create Page" />
        </form>
    </div>
{% endblock %}